/*
	login page
*/
body {
background-image:url('images/index-background2.png');
background-repeat:repeat;
}

#logo{
	position:fixed;
	top:10px;
	left:10px;
}

#logout{
	position:absolute;
	right:20px;
	color:#FFFFFF;
	font-family:"Verdana";
	font-size:12px;
}
#logout a:link {color:#FFFFFF;}      /* unvisited link */
#logout a:visited {color:#FFFFFF;}  /* visited link */
#logout a:hover {color:#FFFFFF;}  /* mouse over link */
#logout a:active{color:#FFFFFF;}  /* selected link */

/*
	member page
*/


#error{
	position:fixed;
	top:320px;
	left:300px;
}

#priority{
	position:fixed;
	top:100px;
	left:95px;
}

#nondomain{
	position:fixed;
	top:100px;
	left:360px;

}

#hierachy{
	position:fixed;
	top:100px;
	left:650px;
}

#record{
	position:fixed;
	top:100px;
	left:960px;
}

#ssl{
	position:fixed;
	top:320px;
	left:730px;
}
#face{
	position:fixed;
	top:480px;
	left:580px;
}

	