<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
@Styles.Render("~/Content/error_menu.css")
@Scripts.Render("~/bundles/jquery")
</head>
<body>
<p>
incorrect pointer....
</p>
</body>
</html>