<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
@Styles.Render("~/Content/error_menu.css")
@Scripts.Render("~/bundles/jquery")
</head>
<body>
<p>Dead Links</p>
	<table>
			<tr>
				<th>ID</th>
				<th>URL</th>
				<th>Description</th>
				<th>Image</th>
			</tr>
			<tr>
				<td>1</td>
				<td><a href="#">Click here</a></td>
				<td>some description</td>
				<td><a href="#"><img src="images/jpeg-file-icon.png"></a></td>
			</tr>
			<tr>
				<td>2</td>
				<td><a href="#">Click here</a></td>
				<td>some description</td>
				<td><a href="#"><img src="images/jpeg-file-icon.png"></a></td>
			</tr>
			<tr>
				<td>3</td>
				<td><a href="#">Click here</a></td>
				<td>some description</td>
				<td><a href="#"><img src="images/jpeg-file-icon.png"></a></td>
			</tr>
			<tr>
				<td>4</td>
				<td><a href="#">Click here</a></td>
				<td>some description</td>
				<td><a href="#"><img src="images/jpeg-file-icon.png"></a></td>
			</tr>
			<tr>
				<td>5</td>
				<td><a href="#">Click here</a></td>
				<td>some description</td>
				<td><a href="#"><img src="images/jpeg-file-icon.png"></a></td>
			</tr>
			<tr>
				<td>6</td>
				<td><a href="#">Click here</a></td>
				<td>some description</td>
				<td><a href="#"><img src="images/jpeg-file-icon.png"></a></td>
			</tr>
			<tr>
				<td>7</td>
				<td><a href="#">Click here</a></td>
				<td>some description</td>
				<td><a href="#"><img src="images/jpeg-file-icon.png"></a></td>
			</tr>
			<tr>
				<td>8</td>
				<td><a href="#">Click here</a></td>
				<td>some description</td>
				<td><a href="#"><img src="images/jpeg-file-icon.png"></a></td>
			</tr>
		</table>
</body>
</html>