<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
@Styles.Render("~/Content/error_menu.css")
@Scripts.Render("~/bundles/jquery")
</head>
<body>
<div id="sidebar">
	<ul>
		<li>
			<ul>
				<li><a href="errors_deadlinks" target="content">Dead links</a></li>
				<li><a href="errors_wrongpic" target="content">Wrong pictures/graphs</a></li>
				<li><a href="errors_incpointer" target="content">Incorrect pointers</a></li>
				<li><a href="other" target="content">others</a></li>
			</ul>
		</li>
	</ul>
</div>
</body>
</html>