<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Errors</title>
@Styles.Render("~/Content/menu.css")
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript" src="jquery-1.7.2.min.js"></script>
<script type="text/javascript">
<!--
$(document).ready(function(){
	$("#menu-non-domain").hover(function(){
		$(this).attr("src","images/menu-non-domain2.png");
	},function(){
		$(this).attr("src","images/menu-non-domain.png");
	});
	
	$("#menu-priorities").hover(function(){
		$(this).attr("src","images/menu-priorities2.png");
	},function(){
		$(this).attr("src","images/menu-priorities.png");
	});
	
	$("#menu-ssl").hover(function(){
		$(this).attr("src","images/menu-ssl2.png");
	},function(){
		$(this).attr("src","images/menu-ssl.png");
	});
	
	$("#menu-hierachy").hover(function(){
		$(this).attr("src","images/menu-hierachy2.png");
	},function(){
		$(this).attr("src","images/menu-hierachy.png");
	});
	
	$("#menu-records").hover(function(){
		$(this).attr("src","images/menu-records2.png");
	},function(){
		$(this).attr("src","images/menu-records.png");
	});
});

//-->
</script>
</head>

<body>
<div id="logout" align="right">
	Welcome, sample! <a href="#">Logout</a>
</div>
<div id="head">
<img src="images/logo.png" id="logo">

<a href="member"><img src="images/menu-face.png" id="menu-face" ></a>
<img src="images/menu-error2.png" id="menu-error">
<a title="See pages that lead away from the SPSU webspace." href="non_domain"><img src="images/menu-non-domain.png" id="menu-non-domain"></a>
<a title="Set priorities on issues." href="priority"><img src="images/menu-priorities.png" id="menu-priorities"></a>
<a title="See links whose target protocol is https, http, or either." href="ssl"><img src="images/menu-ssl.png" id="menu-ssl"></a>
<a title="See page links visually." href="hierachy"><img src="images/menu-hierachy.png" id="menu-hierachy"></a>
<a title="View and print old and updated records." href="records"><img src="images/menu-records.png" id="menu-records"></a>
</div>
<div id="page">
	<div id="content">
		<h1>
			Errors
		</h1>
		<iframe src="errors_content" frameborder="0" width="550" height="700" scrolling="auto" name="content" align="left"></iframe>
	</div>
	<div>
		<h2>
		Categories
		</h2>
		<iframe src="errors_menu" frameborder="0" height="300" align="right"></iframe>
	</div>
</div>

</body>
</html>
