<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        @Styles.Render("~/Content/error_menu.css")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        <a href="documents/hierachy.pdf">Download hierachy</a>
    </body>
</html>