<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        @Styles.Render("~/Content/error_menu.css")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        <p>
            Hierachy content.
            Please select from the menu on the right.
        </p>  
    </body>
</html>