<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        @Styles.Render("~/Content/error_menu.css")
        @Scripts.Render("~/bundles/jquery")
        <title></title>
    </head>
    <body>
        <div id="sidebar">
	        <ul>
		        <li>
			        <ul>
				        <li><a href="hierachy_download" target="content">Download hierachy</a></li>
			        </ul>
		        </li>
	        </ul>
        </div>    
    </body>
</html>