<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
@Styles.Render("~/Content/error_menu.css")
@Scripts.Render("~/bundles/jquery")
</head>
<body>
<div id="sidebar">
	<ul>
		<li>
			<ul>
				<li><a href="record1" target="content">08/01/2012</a></li>
				<li><a href="record2" target="content">08/15/2012</a></li>
				<li><a href="record3" target="content">08/29/2012</a></li>
			</ul>
		</li>
	</ul>
</div>
</body>
</html>