<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
@Styles.Render("~/Content/error_menu.css")
@Scripts.Render("~/bundles/jquery")
</head>
<body>
<p>Click <a href="#">here</a> to download.</p>
	<table>
			<tr>
				<th>ID</th>
				<th>URL</th>
				<th>Description</th>
				<th>Status</th>
			</tr>
			<tr>
				<td>1</td>
				<td><a href="#">http://www.spsu.edu/something1</a></td>
				<td>some description</td>
				<td><img src="images/yes.png"></td>
			</tr>
			<tr>
				<td>2</td>
				<td><a href="#">http://www.spsu.edu/something2</a></td>
				<td>some description</td>
				<td><img src="images/no.png"></td>
			</tr>
		</table>
</body>
</html>