<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
@Styles.Render("~/Content/error_menu.css")
@Scripts.Render("~/bundles/jquery")
</head>
<body>
<div id="sidebar">
	<ul>
		<li>
			<ul>
				<li><a href="ssl_https" target="content">https</a></li>
				<li><a href="other" target="content">other</a></li>
		
			</ul>
		</li>
	</ul>
</div>
</body>
</html>