<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
@Styles.Render("~/Content/error_menu.css")
@Scripts.Render("~/bundles/jquery")
</head>
<body>
<p>
SSL content.<br/>
Some description goes here.<br/>
Please choose from the menu on the right.
</body>
</html>